/*main*/
* {
    padding: 0%;
    margin: 0%;
    background-color: white;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/*main*/
.jumbotron {
    padding: 0%;
    margin-left: 0%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlink.dropdown-toggle {
    padding: 0%;
    margin-left: 0%;
    background-color: white;
}

.img-fluid {
    max-height: 300px;
}

.revamp {
    display: flex; 
    flex: 1; min-width: 0; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
}

.profpic {
    background-image:none;
}

.team_gen {
    display: flex; 
    flex: 1; min-width: 0; 
    text-overflow: ellipsis; 
    white-space: nowrap;
    overflow: hidden;
}





